<div class="center jumbotron">
  <h1>The RSVP App</h1> 
  <h2>Organize and manage your events. Tell us when and where your event is happening, and we'll handle the rest.</h2>
  <h2>Get started:</h2> 
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %> 
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %> 
</div>

<div class="col-md-4">
  <%= link_to "Plan Events", about_path, class: "btn btn-lg btn-default" %>
  <br>
  <br>
  <p>
    Tired of lengthy email chains or overly-complicated event planning apps? We make it simple. Tell use the name, the time, and the place, and you're ready to go. 
  </p>
</div>

<div class="col-md-4">
  <%= link_to "Know Who's Coming", about_path, class: "btn btn-lg btn-default" %>
  <br>
  <br>
  <p>
    We provide a simple link for your guests to RSVP. No need to log in or create an account - they just enter their info and it's immediately available for you to review.
</div>

<div class="col-md-4">
  <%= link_to "Designate Tasks", about_path, class: "btn btn-lg btn-default" %>
  <br>
  <br>
  <p>
    Want people to bring a dish or take care of something? Tell us, and we'll let your guests claim those tasks. What's taken care of? You know automatically.
  </p>
</div>