<% provide(:title, "Edit Guest") %>
<h1>Edit Guest</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@event, @guest]) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :responsibility %>
      <%= f.text_field :responsibility, class: "form-control" %>
      
      <%= f.submit "Update Guest", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
